<%- include("header") -%>

    <body>
        <div class="box" id="heading">
            <h1>
                <%= listTitle %>.
            </h1>
        </div>
        <div class="box">
            <% for (var i=0; i<newTask.length; i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p>
                        <%= newTask[i] %>
                    </p>
                </div>
                <% } %>
                    <form action="/" method="post" class="item">
                        <input type="text" name="newItem" placeholder="New Task" autocomplete="off" autofocus>
                        <button type="submit" name="button" value="<%= listTitle %>">+</button>
                    </form>
        </div>
    </body>
    <%- include("footer") -%>

        </html>